.home_gear1{
  max-width: min(1220px, calc(100% - 60px));
  margin: 200px auto 0;

  @media(max-width: $tablet-width){
    max-width: min(704px, calc(100% - 40px));
    margin-top: 95px;
  }

  @media(max-width: $mobile-width){
    max-width: min(335px, calc(100% - 40px));
    margin-top: 75px;
  }

  header{
    max-height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: $tablet-width){
      max-height: 16px;

      img{
        max-width: 35px;
        max-height: 14px;
      }
    }

    @media(max-width: $tablet-width){
      max-height: 16px;

      img{
        max-width: 35px;
        max-height: 14px;
      }
    }

    span{
      @include body-small-font();
      color: #F8FAFFE5;

      @media(max-width: $tablet-width){
        font-size: 12px;
      }
    }
  }

  .home_gear1_wrapper{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;


    @media(max-width: $tablet-width){
      margin-top: 50px;
      gap: 36px;
    }

    @media(max-width: $mobile-width){
      margin-top: 36px;
      gap: 24px;
    }

    .home_gear1_info_container{
      display: flex;
      justify-content: space-between;

      @media(max-width: $mobile-width){
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
      }

      .home_gear1_info_label{
        @include body-large-font();
        color: #F8FAFF;
        transition: color ease 0.3s;
        cursor: default;
        height: fit-content;
        min-width: 50%;

        &:hover{
          color: #0F5EF7;
        }

        @media(max-width: $tablet-width){
          font-size: 20px;
          color: #0F5EF7;
        }

        @media(max-width: 420px){
          font-size: 17px;
        }

        @media(max-width: $mobile-width){
          font-size: 16px;
        }
      }

      .home_gear1_info_text_container{
        max-width: 651px;
        display: flex;
        flex-direction: column;
        gap: 36px;

        @media(max-width: $tablet-width){
          max-width: 376px;
          gap: 20px;
        }

        @media(max-width: $mobile-width){
          max-width: 335px;
          gap: 16px;
        }

        h2{
          color: #F8FAFFE5;

          @media(max-width: $tablet-width){
            font-size: 30px;
          }
        }

        .home_gear1_info_text_container_text{
          @include body-small-font();
          color: #F8FAFFE5;

          @media(max-width: $tablet-width){
            font-size: 12px;
          }

          .home_gear1_info_text_container_text_colored{
            color: #0F5EF7;
          }
        }
      }
    }
  }
}