@import '../abstracts/_abstracts-dir';
@import "./header";
@import "./footer";
@import './home/home-represent';
@import './home/home-represent-popup';
@import './home/home-gear1';
@import './home/home-gear2';
@import './home/home-gear3';
@import './home/home-gear4';
@import './home/home-gear5';
@import './home/home-gear6';
@import './partner-platform/partner-platform-represent';
@import './partner-platform/partner-platform-list';
@import './partner-platform/partner-platform-component3';
@import './partner-platform/partner-platform-reviews';
@import './partner-platform/partner-platform-component5';
@import './partner-platform/partner-platform-component6';
@import './partner-platform/partner-platform-faq';
@import './lead-distribution/lead-distribution-represent';
@import './lead-distribution/lead-distribution-c2';
@import './lead-distribution/lead-distribution-c3';
@import './lead-distribution/lead-distribution-c4';
@import './lead-distribution/lead-distribution-c5';
@import './lead-distribution/lead-distribution-finish';
