footer{
  color: white;
  position: absolute;
  bottom: 30px;
  width: 100%;

  .footer_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1220px;
    height: 384px;
    margin: 0 auto;
    position: relative;

    .footer_logo{
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -100;
    }

    .footer_nav{
      height: 231px;
      display: flex;
      justify-content: space-between;

      .footer_nav_list{
        display: flex;
        flex-direction: column;
        max-width: 164px;
        gap: 36px;

        .footer_nav_list_title{
          @include caption-small-font();
          text-transform: uppercase;
        }

        .footer_nav_list_list{
          @include caption-small-font();
          font-weight: 500;
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }
    }


    .footer_lower{
      @include caption-small-font();
      text-transform: uppercase;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
    }
  }
}