header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  color: #F8FAFF;
  @include offSelect();

  .header_wrapper {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 30px 31px 30px 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @include body-small-font();
    font-size: 16px;

    .header_hamburger {
      display: none;
    }

    .header_signIn {
      @include body-small-font();
      font-size: 16px;
      width: 120px;
      height: 36px;
      background: #1C1E25CC;
      color: #F8FAFF;
      padding: 11px 16px 11px 16px;
      border: 0.5px solid #F8FAFFE5;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover{
        opacity: 0.7;
      }
    }

    .header_nav {
      position: relative;

      .header_menu {
        display: flex;
        gap: 36px;
        position: relative;
      }

      .header_menu_item {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        button {
          @include body-small-font();
          font-size: 16px;
        }

        .header_menu_item_arrow_selected {
          display: none;
        }

        &.active {
          button {
            color: #0F5EF7;
          }

          .header_menu_item_arrow_unselected {
            display: none;
          }

          .header_menu_item_arrow_selected {
            display: flex;
          }
        }
      }


      @media(max-width: 900px){
        .header_menu{
          gap: 10px !important;
        }
        .header_menu_item{
          gap: 4px;
        }
      }

      .nav_dropdown_container {
        position: absolute;
        width: 100%;
        top: 21px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s ease 0.1s;
        z-index: 1000;

        &.active {
          display: block;
          visibility: visible;
          opacity: 1;
        }

        .nav_dropdown {
          background: #1C1E25CC;
          height: 100px;
          border-radius: 10px;
          padding: 39px 40px 39px 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:has(a:only-of-type) {
            justify-content: center;
          }
        }
      }
    }

    @media(max-width: $tablet-width) {
      .header_logo {
        width: 60px;
        height: 17px;
      }

      .header_nav {
        display: none;
      }

      .header_signIn {
        display: none;
      }

      .header_hamburger {
        display: flex;
        background: transparent;
        border: none;
      }
    }
  }

  @media(max-width: $tablet-width) {
    .header_wrapper {
      height: 17px;
      max-width: 703px;
      padding: 0;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
