header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  color: #F8FAFF;
  @include offSelect();

  .header_wrapper{
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 30px 31px 30px 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @include body-small-font();
    font-size: 16px;

    .header_hamburger{
      display: none;
    }

    .header_menu{
      display: flex;
      gap: 36px;
    }

    .header_menu_item{
      display: flex;
      gap: 8px;
      cursor: pointer;
    }

    .header_signIn{
      @include body-small-font();
      font-size: 16px;
      width: 120px;
      height: 36px;
      background: #1C1E25CC;
      color: #F8FAFF;
      padding: 11px 16px 11px 16px;
      border: 0.5px solid #F8FAFFE5;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    @media(max-width: 745px){
      .header_logo{
        width: 60px;
        height: 17px;
      }

      .header_menu{
        display: none;
      }

      .header_signIn{
        display: none;
      }

      .header_hamburger{
        display: flex;
        background: transparent;
        border: none;
      }
    }
  }

  @media(max-width: 745px){
    .header_wrapper{
      height: 17px;
      max-width: 703px;
      padding: 0;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
