.lead_distribution_c2{
  @include home_gear();
  position: relative;
  display: flex;

  .ld_c2_car_container {
    position: relative;
    min-height: 1765px;
    width: 40%;

    @media(max-width: $mobile-width){
      display: none;
    }
  }

  .animated-car{
    position: absolute;
    top: -200px;
    width: 100%;
    max-height: 774px;
    z-index: 10;
    left: calc(100% / 50);
    animation: driveDown 7s ease-in-out forwards;

    @media(max-width: $tablet-width){
      left: -5vw;
      width: 50%;
    }
  }

  .ld_c2_container{
    display: flex;
    flex-direction: column;
    gap: 120px;
    width: 715px;
    max-width: 65%;
    margin-left: auto;

    @media(max-width: $tablet-width){
      width: 525px;
      gap: 50px;
    }

    @media(max-width: $mobile-width){
      max-width: 100%;
      margin-left: 0;
      gap: 36px;
    }

    .ld_c2_container_item{
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      opacity: 0;
      transform: translateX(-50px);
      transition: all 0.8s ease-in-out;

      @media(max-width: $tablet-width){
        gap: 17px;
      }

      @media(max-width: $mobile-width){
        gap: 16px;
        opacity: 1;
        transform: none;
      }

      &.revealed {
        opacity: 1;
        transform: translateX(0);
      }

      h2{
        color: #F8FAFF;

        @media(max-width: $tablet-width){
          font-size: 36px;
        }

        @media(max-width: $mobile-width){
          font-size: 24px;
        }
      }

      .ld_c2_label_wrapper{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;

        @media(max-width: $tablet-width){
          gap: 15px;
        }

        div{
          flex: 1;
          display: flex;
          min-height: 40px;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          padding: 2px 10px 2px 10px;
          border: 1px solid #F8FAFFE5;
          @include body-large-font();
          color: #A980FF;
          font-size: 16px;
          text-align: center;

          @media(max-width: $tablet-width){
            min-height: 30px;
            font-size: 12px;
          }

          @media(max-width: $mobile-width){
            font-size: 8px;
            min-height: 19px;
          }
        }
      }

      span{
        color: #F8FAFF;
        @include body-small-font();
        font-size: 20px;
        text-transform: none;

        @media(max-width: $tablet-width){
          font-size: 14px;
        }

        @media(max-width: $mobile-width){
          font-size: 10px;
        }
      }
    }
  }
}

// Анимации
@keyframes driveDown {
  0% {
    top: -200px;
    transform: translateX(0) scale(1);
  }
  10% {
    top: 10%;
    transform: translateX(20px) scale(1.05);
  }
  25% {
    top: 25%;
    transform: translateX(-10px) scale(1.02);
  }
  40% {
    top: 40%;
    transform: translateX(15px) scale(1.04);
  }
  55% {
    top: 55%;
    transform: translateX(-5px) scale(1.01);
  }
  70% {
    top: 70%;
    transform: translateX(10px) scale(1.03);
  }
  85% {
    top: 85%;
    transform: translateX(-3px) scale(1.01);
  }
  90% {
    top: 90%;
    opacity: 1;
  }
  100% {
    top: 95%;
    transform: translateX(0) scale(1);
    opacity: 0;
  }
}