.ld_c5{
  max-width: min(1045px, calc(100vw - 60px));
  max-height: 848px;
  margin: 200px auto 0 auto;
  position: relative;

  img{
    margin: 0 auto;
    width: 100%;
  }

  div{
    border: 1px solid #F8FAFF;
    padding: 7px 22px 7px 22px;
    height: 40px;
    border-radius: 10px;
    @include body-medium-font();
    font-size: 20px;
    color: #F8FAFF;
    width: fit-content;
    position: absolute;
    display: flex;
    align-items: center;

    @media(max-width: 1050px){
      padding: 4px 14px 4px 14px;
      font-size: 20px;
      height: 30px;
    }

    @media(max-width: 1000px){
      font-size: 18px;
    }

    @media(max-width: 900px){
      font-size: 16px;
    }

    @media(max-width: 800px){
      font-size: 14px;
    }

    @media(max-width: $tablet-width){
      padding: 4px 14px 4px 14px;
      font-size: 13px;
      height: 27px;
    }

    @media(max-width: 650px){
      font-size: 11px;
    }

    @media(max-width: 600px){
      padding: 2px 10px 2px 10px;
      font-size: 10px;
    }

    @media(max-width: 550px){
      padding: 2px 7px 2px 7px;
      font-size: 9px;
      height: 13px;
    }

    &.finance{
      top: 0;
      transform: translateY(-120%);
      left: calc(100% / 9.42);
    }

    &.coins{
      top: calc(100% / 10.24);
      left: calc(100% / 2.417)
    }

    &.igaming{
      top: calc(100% / 4.986);
      left: calc(100% / 1.417);
    }

    &.e_commerce{
      bottom: calc(100% / 4.374);
    }

    &.agencies{
      top: calc(100% / 1.833);
      right: calc(100% / 18.327);
    }

    &.buying{
      bottom: calc(100% / 20.218);
      right: 0;
    }

    &.networks{
      left: calc(100% / 3.139);
    }
  }
}