@font-face {
  font-family: 'Founders Grotesk';
  src: url('IREV/src/fonts/Founders-Grotesk-X-Condensed-Bold.eot');
  src: url('IREV/src/fonts/Founders-Grotesk-X-Condensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('IREV/src/fonts/Founders-Grotesk-X-Condensed-Bold.woff2') format('woff2'),
  url('IREV/src/fonts/Founders-Grotesk-X-Condensed-Bold.woff') format('woff'),
  url('IREV/src/fonts/Founders-Grotesk-X-Condensed-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('IREV/src/fonts/IBMPlexMono-Medium.eot');
  src: url('IREV/src/fonts/IBMPlexMono-Medium.eot?#iefix') format('embedded-opentype'),
  url('IREV/src/fonts/IBMPlexMono-Medium.woff2') format('woff2'),
  url('IREV/src/fonts/IBMPlexMono-Medium.woff') format('woff'),
  url('IREV/src/fonts/IBMPlexMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('IREV/src/fonts/IBMPlexMono-SemiBold.eot');
  src: url('IREV/src/fonts/IBMPlexMono-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('IREV/src/fonts/IBMPlexMono-SemiBold.woff2') format('woff2'),
  url('IREV/src/fonts/IBMPlexMono-SemiBold.woff') format('woff'),
  url('IREV/src/fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('IREV/src/fonts/IBMPlexMono-SemiBold.eot');
  src: url('IREV/src/fonts/IBMPlexMono-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('IREV/src/fonts/IBMPlexMono-SemiBold.woff2') format('woff2'),
  url('IREV/src/fonts/IBMPlexMono-SemiBold.woff') format('woff'),
  url('IREV/src/fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('IREV/src/fonts/IBMPlexMono-Regular.eot');
  src: url('IREV/src/fonts/IBMPlexMono-Regular.eot?#iefix') format('embedded-opentype'),
  url('IREV/src/fonts/IBMPlexMono-Regular.woff2') format('woff2'),
  url('IREV/src/fonts/IBMPlexMono-Regular.woff') format('woff'),
  url('IREV/src/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('IREV/src/fonts/IBMPlexMono-Light.eot');
  src: url('IREV/src/fonts/IBMPlexMono-Light.eot?#iefix') format('embedded-opentype'),
  url('IREV/src/fonts/IBMPlexMono-Light.woff2') format('woff2'),
  url('IREV/src/fonts/IBMPlexMono-Light.woff') format('woff'),
  url('IREV/src/fonts/IBMPlexMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

