* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: getColor("background-black", 100);
}

ul, ol{
  list-style: none;
}

button{
  background: transparent;
  border: none;
  color: #F8FAFF;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

h1 {
  @include font-style($FoundersGrotesk-family, 88px, 88px, 700, 0.02em, uppercase);
}

h2 {
  @include font-style($FoundersGrotesk-family, 50px, 0.85, 700, 0.02em, uppercase);
}

h3{
  @include font-style($FoundersGrotesk-family, 32px, 1, 700, 0, uppercase);
}