@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/Founders-Grotesk-X-Condensed-Bold.eot");
  src: url("../fonts/Founders-Grotesk-X-Condensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Founders-Grotesk-X-Condensed-Bold.woff2") format("woff2"), url("../fonts/Founders-Grotesk-X-Condensed-Bold.woff") format("woff"), url("../fonts/Founders-Grotesk-X-Condensed-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-Medium.eot");
  src: url("../fonts/IBMPlexMono-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-Medium.woff2") format("woff2"), url("../fonts/IBMPlexMono-Medium.woff") format("woff"), url("../fonts/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-SemiBold.eot");
  src: url("../fonts/IBMPlexMono-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexMono-SemiBold.woff") format("woff"), url("../fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-SemiBold.eot");
  src: url("../fonts/IBMPlexMono-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexMono-SemiBold.woff") format("woff"), url("../fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-Regular.eot");
  src: url("../fonts/IBMPlexMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-Regular.woff2") format("woff2"), url("../fonts/IBMPlexMono-Regular.woff") format("woff"), url("../fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-Light.eot");
  src: url("../fonts/IBMPlexMono-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-Light.woff2") format("woff2"), url("../fonts/IBMPlexMono-Light.woff") format("woff"), url("../fonts/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/Founders-Grotesk-X-Condensed-Bold.eot");
  src: url("../fonts/Founders-Grotesk-X-Condensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Founders-Grotesk-X-Condensed-Bold.woff2") format("woff2"), url("../fonts/Founders-Grotesk-X-Condensed-Bold.woff") format("woff"), url("../fonts/Founders-Grotesk-X-Condensed-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-Medium.eot");
  src: url("../fonts/IBMPlexMono-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-Medium.woff2") format("woff2"), url("../fonts/IBMPlexMono-Medium.woff") format("woff"), url("../fonts/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-SemiBold.eot");
  src: url("../fonts/IBMPlexMono-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexMono-SemiBold.woff") format("woff"), url("../fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-SemiBold.eot");
  src: url("../fonts/IBMPlexMono-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexMono-SemiBold.woff") format("woff"), url("../fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-Regular.eot");
  src: url("../fonts/IBMPlexMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-Regular.woff2") format("woff2"), url("../fonts/IBMPlexMono-Regular.woff") format("woff"), url("../fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-Light.eot");
  src: url("../fonts/IBMPlexMono-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-Light.woff2") format("woff2"), url("../fonts/IBMPlexMono-Light.woff") format("woff"), url("../fonts/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
header {
  position: fixed;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  color: #F8FAFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header .header_wrapper {
  max-width: 1281px;
  margin: 0 auto;
  padding: 30px 31px 30px 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 16px;
}
header .header_wrapper .header_hamburger {
  display: none;
}
header .header_wrapper .header_signIn {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 16px;
  width: 120px;
  height: 36px;
  background: rgba(28, 30, 37, 0.8);
  color: #F8FAFF;
  padding: 11px 16px 11px 16px;
  border: 0.5px solid rgba(248, 250, 255, 0.8980392157);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
header .header_wrapper .header_signIn.two {
  background: rgba(28, 30, 37, 0.5019607843);
}
header .header_wrapper .header_signIn.one, header .header_wrapper .header_signIn.go {
  background: rgba(28, 30, 37, 0);
}
header .header_wrapper .header_nav {
  position: relative;
}
header .header_wrapper .header_nav .header_menu {
  display: flex;
  gap: 36px;
  position: relative;
}
header .header_wrapper .header_nav .header_menu_item {
  display: flex;
  align-items: center;
  height: 21px;
  gap: 8px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
header .header_wrapper .header_nav .header_menu_item button {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 16px;
  transition: color 0.2s ease;
}
header .header_wrapper .header_nav .header_menu_item .header_menu_item_arrow_unselected,
header .header_wrapper .header_nav .header_menu_item .header_menu_item_arrow_selected {
  transition: transform 0.4s ease, opacity 0.4s ease;
}
header .header_wrapper .header_nav .header_menu_item .header_menu_item_inner {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.4s ease;
}
header .header_wrapper .header_nav .header_menu_item:hover .header_menu_item_inner {
  animation: flyUpFromBottom 0.7s ease forwards;
}
header .header_wrapper .header_nav .header_menu_item .header_menu_item_arrow_selected {
  display: none;
}
header .header_wrapper .header_nav .header_menu_item.active button {
  color: #0F5EF7;
}
header .header_wrapper .header_nav .header_menu_item.active button:hover {
  opacity: 1;
}
header .header_wrapper .header_nav .header_menu_item.active .header_menu_item_arrow_unselected {
  display: none;
}
header .header_wrapper .header_nav .header_menu_item.active .header_menu_item_arrow_selected {
  display: flex;
}
@keyframes flyUpFromBottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-150%);
    opacity: 1;
  }
  31% {
    transform: translateY(150%);
    opacity: 1;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 900px) {
  header .header_wrapper .header_nav .header_menu {
    gap: 10px !important;
  }
  header .header_wrapper .header_nav .header_menu_item {
    gap: 4px;
  }
}
header .header_wrapper .header_nav .nav_dropdown_container {
  position: absolute;
  width: 100%;
  top: 21px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease 0.1s;
  z-index: 1000;
}
header .header_wrapper .header_nav .nav_dropdown_container.active {
  display: block;
  visibility: visible;
  opacity: 1;
}
header .header_wrapper .header_nav .nav_dropdown_container .nav_dropdown {
  background: rgba(28, 30, 37, 0.8);
  height: 100px;
  border-radius: 10px;
  padding: 39px 40px 39px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_wrapper .header_nav .nav_dropdown_container .nav_dropdown:has(a:only-of-type) {
  justify-content: center;
}
@media (max-width: 751px) {
  header .header_wrapper .header_logo {
    width: 60px;
    height: 17px;
  }
  header .header_wrapper .header_nav {
    display: none;
  }
  header .header_wrapper .header_signIn {
    display: none;
  }
  header .header_wrapper .header_hamburger {
    display: flex;
    background: transparent;
    border: none;
  }
}
@media (max-width: 751px) {
  header .header_wrapper {
    height: 17px;
    max-width: 703px;
    padding: 0;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 751px) {
  header {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
}
footer {
  color: white;
  margin-top: auto;
  margin-bottom: 30px;
  width: 100%;
}
footer .footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: min(1220px, 100vw - 40px);
  height: 384px;
  margin: 0 auto;
  position: relative;
}
footer .footer_wrapper .footer_logo {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  z-index: -100;
}
footer .footer_wrapper .footer_nav {
  height: 231px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: space-between;
}
footer .footer_wrapper .footer_nav .footer_nav_list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 36px;
}
footer .footer_wrapper .footer_nav .footer_nav_list .footer_nav_list_title {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  white-space: nowrap;
}
footer .footer_wrapper .footer_nav .footer_nav_list .footer_nav_list_list {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer_wrapper .footer_nav .footer_nav_list .footer_nav_list_list li {
  word-break: break-word;
  overflow-wrap: break-word;
}
footer .footer_wrapper .footer_lower {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 751px) {
  footer .footer_wrapper .footer_logo {
    top: 0;
    max-width: min(420px, 100vw - 40px);
    height: 118px;
  }
  footer .footer_wrapper .footer_nav {
    display: none !important;
  }
  footer .footer_wrapper .footer_lower {
    flex-direction: column;
    font-size: 9px;
    gap: 8px;
  }
}
@media (max-width: 376px) {
  footer .footer_wrapper .footer_logo {
    max-width: min(335px, 100vw - 40px);
    height: 93px;
  }
}
@media (max-width: 751px) {
  footer .footer_wrapper {
    max-width: min(420px, 100vw - 40px);
    height: 186px;
    justify-content: flex-end;
  }
}
@media (max-width: 376px) {
  footer .footer_wrapper {
    max-width: min(335px, 100vw - 40px);
    height: 147px;
    justify-content: flex-end;
  }
}

.home_represent {
  max-width: min(1220px, 100vw - 60px);
  margin: 0 auto;
  color: rgba(248, 250, 255, 0.8980392157);
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 751px) {
  .home_represent {
    max-width: min(704px, 100vw - 40px);
  }
}
@media (max-width: 376px) {
  .home_represent {
    max-width: min(335px, 100vw - 40px);
    min-height: 870px;
  }
}
.home_represent .home_represent_upperWrapper {
  display: flex;
  gap: 128px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_upperWrapper {
    gap: 74px;
  }
}
@media (max-width: 376px) {
  .home_represent .home_represent_upperWrapper {
    flex-direction: column;
    gap: 16px;
  }
}
.home_represent .home_represent_upperWrapper .home_represent_counter {
  flex: 1;
  max-width: 180px;
  height: 38px;
  border: 1px solid rgba(248, 250, 255, 0.8980392157);
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 22px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_upperWrapper .home_represent_counter {
    max-width: 104px;
    gap: 12px;
    padding: 4px 9px 4px 9px;
  }
  .home_represent .home_represent_upperWrapper .home_represent_counter img {
    width: 9px;
    height: 9px;
  }
}
.home_represent .home_represent_upperWrapper .home_represent_counter .home_represent_counter_timer {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 20px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_upperWrapper .home_represent_counter .home_represent_counter_timer {
    font-size: 12px;
  }
}
.home_represent .home_represent_upperWrapper .home_represent_counter .home_represent_counter_yellow {
  display: none;
}
.home_represent .home_represent_upperWrapper .home_represent_counter .home_represent_counter_green {
  display: none;
}
.home_represent .home_represent_upperWrapper .home_represent_counter .home_represent_counter_go {
  display: none;
}
.home_represent .home_represent_upperWrapper .home_represent_counter.two .home_represent_counter_red {
  display: none;
}
.home_represent .home_represent_upperWrapper .home_represent_counter.two .home_represent_counter_yellow {
  display: flex;
}
.home_represent .home_represent_upperWrapper .home_represent_counter.one .home_represent_counter_red {
  display: none;
}
.home_represent .home_represent_upperWrapper .home_represent_counter.one .home_represent_counter_yellow {
  display: none;
}
.home_represent .home_represent_upperWrapper .home_represent_counter.one .home_represent_counter_green {
  display: flex;
}
.home_represent .home_represent_upperWrapper .home_represent_counter.go .home_represent_counter_timer {
  display: none;
}
.home_represent .home_represent_upperWrapper .home_represent_counter.go .home_represent_counter_green {
  display: none;
}
.home_represent .home_represent_upperWrapper .home_represent_counter.go .home_represent_counter_red {
  display: none;
}
.home_represent .home_represent_upperWrapper .home_represent_counter.go .home_represent_counter_go {
  display: flex;
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 20px;
  color: #0F5EF7;
  text-transform: none;
}
@media (max-width: 751px) {
  .home_represent .home_represent_upperWrapper .home_represent_counter.go .home_represent_counter_go {
    font-size: 12px;
  }
}
.home_represent .home_represent_upperWrapper .home_represent_general {
  flex: 1;
  max-width: 838px;
  margin-top: 15px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_upperWrapper .home_represent_general {
    margin-top: 9px;
    max-width: 526px;
  }
}
@media (max-width: 376px) {
  .home_represent .home_represent_upperWrapper .home_represent_general {
    margin-top: 0;
    max-width: 334px;
  }
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_general_slogan {
  max-width: 838px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_general_slogan {
    max-width: 526px;
    font-size: 54px;
    line-height: 0.85;
  }
}
@media (max-width: 376px) {
  .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_general_slogan {
    font-size: 48px;
    max-width: 334px;
  }
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container {
  margin-top: 36px;
  max-width: 605px;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 751px) {
  .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container {
    margin-top: 20px;
    max-width: 349px;
    height: 51px;
  }
}
@media (max-width: 376px) {
  .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container {
    margin-top: 297px;
    max-width: 335px;
    height: 50px;
  }
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form {
  display: flex;
  gap: 16px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form {
    gap: 9px;
  }
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form input {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: rgba(248, 250, 255, 0.8980392157);
  flex: 1;
  max-width: 360px;
  height: 50px;
  padding: 16px 24px 16px 24px;
  background: #1C1E25;
  border: none;
  border-radius: 10px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form input {
    max-width: 207px;
    font-size: 10px;
    height: 28px;
  }
}
@media (max-width: 376px) {
  .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form input {
    max-width: 199px;
    height: 27px;
  }
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form input::placeholder {
  color: rgba(248, 250, 255, 0.6);
  transition: color 0.3s ease, border-color 0.3s ease;
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form input.two::placeholder {
  color: #F8FAFF;
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form input.one::placeholder, .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form input.go::placeholder {
  color: #FF4D4D;
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form button {
  flex: 1;
  max-width: 229px;
  height: 50px;
  border: 2px solid #0F5EF7;
  border-radius: 60px;
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(248, 250, 255, 0.8980392157);
  position: relative;
  overflow: hidden;
  background: transparent;
  padding: 11px 16px 11px 16px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form button {
    max-width: 132px;
    font-size: 10px;
    height: 28px;
    padding: 6px 9px 6px 9px;
  }
}
@media (max-width: 376px) {
  .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form button {
    max-width: 128px;
    height: 27px;
  }
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0F5EF7;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #0F5EF7 0%, #6F31F0 50%, #7AFFF6 100%);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form button.two::before {
  opacity: 1;
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form button.one::after, .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container .home_represent_form button.go::after {
  opacity: 1;
}
.home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container span {
  align-self: flex-end;
  color: rgba(248, 250, 255, 0.8);
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
}
@media (max-width: 751px) {
  .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container span {
    font-size: 10px;
  }
}
@media (max-width: 376px) {
  .home_represent .home_represent_upperWrapper .home_represent_general .home_represent_form_container span {
    align-self: flex-start;
  }
}
.home_represent .home_represent_backgroundImg {
  position: absolute;
  z-index: -1000;
  bottom: 39px;
  left: 170px;
  animation: multiColorFlow 8s ease-in-out infinite;
}
@media (max-width: 751px) {
  .home_represent .home_represent_backgroundImg {
    max-width: 343px;
    max-height: 324px;
    bottom: -12px;
    left: 96px;
  }
}
@media (max-width: 450px) {
  .home_represent .home_represent_backgroundImg {
    bottom: 50px;
    left: 75px;
    max-width: 274px;
    max-height: 250px;
  }
}
@media (max-width: 376px) {
  .home_represent .home_represent_backgroundImg {
    max-width: 285px;
    height: 269px;
    left: 26px;
    top: 220px;
  }
}
@keyframes multiColorFlow {
  0% {
    filter: hue-rotate(0deg) saturate(1.2);
  }
  25% {
    filter: hue-rotate(90deg) saturate(1.3);
  }
  50% {
    filter: hue-rotate(180deg) saturate(1.1);
  }
  75% {
    filter: hue-rotate(270deg) saturate(1.4);
  }
  100% {
    filter: hue-rotate(360deg) saturate(1.2);
  }
}
.home_represent .home_represent_rate {
  margin-top: 72px;
  max-width: 256px;
  height: 138px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_rate {
    margin-top: 40px;
    max-width: 147px;
    height: auto;
    gap: 9px;
  }
}
@media (max-width: 376px) {
  .home_represent .home_represent_rate {
    margin-top: 0;
    position: absolute;
    top: 808px;
    max-width: 147px;
    height: auto;
  }
}
.home_represent .home_represent_rate .home_represent_rate_avatars {
  max-width: 170px;
  height: 40px;
  position: relative;
}
@media (max-width: 751px) {
  .home_represent .home_represent_rate .home_represent_rate_avatars {
    max-width: 98px;
    height: 23px;
  }
}
.home_represent .home_represent_rate .home_represent_rate_avatars img {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}
.home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(1) {
  left: 0;
}
.home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(2) {
  left: 26px;
}
.home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(3) {
  left: 52px;
}
.home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(4) {
  left: 78px;
}
.home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(5) {
  left: 104px;
}
.home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(6) {
  left: 130px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_rate .home_represent_rate_avatars img {
    max-width: 23px;
    height: 23px;
  }
  .home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(1) {
    left: 0;
  }
  .home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(2) {
    left: 15px;
  }
  .home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(3) {
    left: 30px;
  }
  .home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(4) {
    left: 45px;
  }
  .home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(5) {
    left: 60px;
  }
  .home_represent .home_represent_rate .home_represent_rate_avatars img:nth-child(6) {
    left: 75px;
  }
}
.home_represent .home_represent_rate .home_represent_rate_rating {
  max-width: 120px;
  height: 24px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_rate .home_represent_rate_rating {
    max-width: 69px;
    height: 14px;
  }
}
.home_represent .home_represent_rate span {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: rgba(248, 250, 255, 0.8);
}
@media (max-width: 751px) {
  .home_represent .home_represent_rate span {
    font-size: 10px;
  }
}
.home_represent .home_represent_lowerWrapper {
  margin-top: 24px;
  display: flex;
  gap: 188px;
  justify-content: flex-end;
}
@media (max-width: 751px) {
  .home_represent .home_represent_lowerWrapper {
    margin-top: 0px;
    gap: 12px;
  }
}
.home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_text {
  max-width: 269px;
  height: 99px;
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  color: #F8FAFF;
}
@media (max-width: 751px) {
  .home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_text {
    margin-top: 13px;
    max-width: 167px;
    font-size: 12px;
  }
}
@media (max-width: 376px) {
  .home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_text {
    margin-top: 0;
    max-width: 162px;
    position: absolute;
    right: 0;
    top: 808px;
  }
}
.home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_video {
  cursor: pointer;
  flex: 1;
  max-width: 458px;
  padding: 19px;
  height: 270px;
  background: #1C1E25;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_video .video_cont {
  max-width: 420px;
  height: 200px;
  border-radius: 2px;
  background: black;
  overflow: hidden;
}
@media (max-width: 751px) {
  .home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_video .video_cont {
    max-width: 347px;
    height: 204px;
  }
}
.home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_video .video_player {
  display: flex;
  justify-content: space-between;
}
.home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_video .video_player span {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 16px;
}
@media (max-width: 751px) {
  .home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_video .video_player span {
    font-size: 11px;
  }
}
@media (max-width: 751px) {
  .home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_video .video_player img {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 751px) {
  .home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_video {
    margin-top: -23px;
    max-width: 347px;
    height: 204px;
  }
}
@media (max-width: 376px) {
  .home_represent .home_represent_lowerWrapper .home_represent_lowerWrapper_video {
    margin-top: 0;
    position: absolute;
    width: min(335px, 100vw - 40px);
    height: 197px;
    top: 586px;
  }
}

.home_popup_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100000;
  transition: background-color 0.3s ease;
}
.home_popup_overlay .home_popup_overlay.active {
  background-color: rgba(0, 0, 0, 0.5);
}
.home_popup_overlay .home_popup_content {
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%) scale(0.8);
  width: min(900px, 100vw - 60px);
  flex: 1;
  height: 743px;
  background: #F8FAFF;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  opacity: 0;
  transition: all 0.3s ease;
}
@media (max-width: 751px) {
  .home_popup_overlay .home_popup_content {
    max-width: min(612px, 90vw);
    gap: 15px;
    padding: 15px;
    height: fit-content;
  }
}
@media (max-width: 376px) {
  .home_popup_overlay .home_popup_content {
    gap: 0;
    max-width: 100vw;
    padding: 20px;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.home_popup_content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.home_popup_content .home_popup_content_upper {
  display: flex;
  gap: 157px;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .home_popup_content .home_popup_content_upper {
    gap: 100px;
  }
}
@media (max-width: 555px) {
  .home_popup_content .home_popup_content_upper {
    gap: 50px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_upper {
    margin-top: 40px;
    justify-content: center;
    gap: 0;
  }
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_upper img {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_upper img {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.home_popup_content span {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 24px;
}
@media (max-width: 751px) {
  .home_popup_content span {
    font-size: 16px;
    height: 21px;
  }
}
@media (max-width: 555px) {
  .home_popup_content span {
    font-size: 12px;
    height: 18px;
  }
}
@media (max-width: 376px) {
  .home_popup_content span {
    font-size: 16px;
  }
}
.home_popup_content h2 {
  font-size: 50px;
  color: rgba(0, 2, 12, 0.8980392157);
  max-width: 626px;
  align-self: center;
}
@media (max-width: 751px) {
  .home_popup_content h2 {
    font-size: 36px;
    max-width: 451px;
  }
}
@media (max-width: 376px) {
  .home_popup_content h2 {
    margin-top: 36px;
    font-size: 36px;
  }
}
.home_popup_content .home_popup_content_label {
  display: flex;
  flex-direction: column;
  max-width: 461px;
  align-items: center;
  justify-self: center;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_label {
    max-width: 313px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_label {
    max-width: 334px;
  }
}
.home_popup_content .home_popup_content_label .home_popup_content_label_wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_label .home_popup_content_label_wrapper {
    gap: 10px;
  }
}
.home_popup_content .home_popup_content_label .home_popup_content_label_wrapper .home_popup_content_label_wrapper_counter {
  max-width: 140px;
  height: 32px;
  border: 1px solid rgba(28, 30, 37, 0.5019607843);
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #0F5EF7;
  font-size: 16px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_label .home_popup_content_label_wrapper .home_popup_content_label_wrapper_counter {
    max-width: 95px;
    height: 21px;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
  }
}
.home_popup_content .home_popup_content_lower {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower {
    gap: 20px;
    justify-content: space-between;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower {
    flex-direction: column;
    justify-content: normal;
  }
}
.home_popup_content .home_popup_content_lower form {
  display: flex;
  flex-direction: column;
  max-width: 328px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower form {
    max-width: calc(0.4003267974 * min(612px, 90vw));
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower form {
    margin-top: 16px;
    max-width: 100%;
  }
}
.home_popup_content .home_popup_content_lower form button {
  background: rgba(15, 94, 247, 0.5019607843);
  pointer-events: none;
  cursor: pointer;
  border: none;
  border-radius: 60px;
  padding: 11px 16px 11px 16px;
  height: 40px;
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 16px;
  color: #F8FAFF;
  margin-top: 16px;
  transition: background-color ease 0.3s;
}
.home_popup_content .home_popup_content_lower form button.selected {
  pointer-events: auto;
  background: rgb(15, 94, 247);
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower form button {
    padding: 7px 10px 7px 10px;
    font-size: 10px;
    height: 30px;
  }
}
.home_popup_content .home_popup_content_lower form .home_popup_content_form_inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower form .home_popup_content_form_inputs {
    gap: 6px;
  }
}
.home_popup_content .home_popup_content_lower form .home_popup_content_form_inputs input {
  padding: 16px 24px 16px 24px;
  height: 40px;
  background: rgba(28, 30, 37, 0.1019607843);
  border: none;
  border-radius: 10px;
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 14px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower form .home_popup_content_form_inputs input {
    font-size: 10px;
  }
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower form .home_popup_content_form_inputs input {
    height: 29px;
    padding: 10px 16px 10px 16px;
  }
}
.home_popup_content .home_popup_content_lower form .home_popup_content_form_inputs input::placeholder {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 14px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower form .home_popup_content_form_inputs input::placeholder {
    font-size: 10px;
  }
}
.home_popup_content .home_popup_content_lower form .home_popup_content_form_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower form .home_popup_content_form_container {
    margin-top: 10px;
    gap: 5px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower form .home_popup_content_form_container {
    margin-top: 16px;
    gap: 4px;
  }
}
.home_popup_content .home_popup_content_lower form .home_popup_content_form_checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower form .home_popup_content_form_checkbox {
    gap: 5px;
  }
}
.home_popup_content .home_popup_content_lower form .home_popup_content_form_checkbox span {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 12px;
  height: 12px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower form .home_popup_content_form_checkbox span {
    gap: 9px;
  }
}
@media (max-width: 500px) {
  .home_popup_content .home_popup_content_lower form .home_popup_content_form_checkbox span {
    font-size: 9px;
  }
}
.home_popup_content .home_popup_content_lower form .home_popup_content_form_checkbox .checkbox input {
  display: none;
}
.home_popup_content .home_popup_content_lower form .home_popup_content_form_checkbox .custom-checkbox {
  width: 16px;
  height: 16px;
  background: rgba(28, 30, 37, 0.1019607843);
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
  transition: background 0.2s, border-color 0.2s;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower form .home_popup_content_form_checkbox .custom-checkbox {
    width: 20px;
    height: 20px;
  }
}
.home_popup_content .home_popup_content_lower form .home_popup_content_form_checkbox .checkbox:hover .custom-checkbox {
  border-color: #999;
}
.home_popup_content .home_popup_content_lower form .home_popup_content_form_checkbox .checkbox input:checked + .custom-checkbox::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont {
    gap: 10px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont {
    gap: 0;
  }
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont span {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 16px;
  color: rgba(0, 2, 12, 0.8);
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont span {
    font-size: 10px;
  }
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_video {
  border: none;
  max-width: 420px;
  max-height: 200px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_video {
    max-width: calc(0.4673202614 * min(612px, 90vw));
    max-height: 136px;
  }
}
@media (max-width: 450px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_video {
    max-width: 140px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_video {
    max-width: 100%;
    max-height: 170px;
  }
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_video video {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower {
  display: flex;
  gap: 16px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower {
    gap: 11px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower {
    flex-direction: column;
    gap: 8px;
  }
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  max-width: 242px;
  height: 200px;
  padding: 16px;
  border: 1px solid rgba(28, 30, 37, 0.5019607843);
  border-radius: 20px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase {
    padding: 10px;
    max-width: 159px;
    height: 136px;
    gap: 10px;
  }
}
@media (max-width: 575px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase {
    height: fit-content;
  }
}
@media (max-width: 900px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase {
    gap: 8px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase {
    margin-top: 16px;
    max-width: 100%;
    padding: 10px;
  }
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase img {
  align-self: flex-start;
  max-width: 138px;
  max-height: 36px;
}
@media (max-width: 900px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase img {
    max-height: 25px;
  }
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase img {
    max-width: 82px;
    max-height: 25px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase img {
    margin-top: 8px;
    align-self: center;
    max-width: 110px;
    max-height: 29px;
  }
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase span {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  max-width: 202px;
  height: fit-content;
  font-size: 12px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase span {
    max-width: 137px;
    font-size: 9px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_phrase span {
    max-width: 314px;
  }
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 170px;
  height: 200px;
  border: 1px solid rgba(28, 30, 37, 0.5019607843);
  border-radius: 20px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award {
    max-width: 116px;
    height: 136px;
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award {
    height: fit-content;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 78px;
    justify-content: center;
  }
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award img {
  max-width: 83px;
  max-height: 87px;
  align-self: center;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award img {
    margin-top: 10px;
    max-width: 56px;
    max-height: 59px;
  }
}
@media (max-width: 500px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award img {
    max-width: 34px;
    max-height: 37px;
  }
}
@media (max-width: 450px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award img {
    max-width: 24px;
    max-height: 27px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award img {
    margin: 0;
    position: absolute;
    top: 9px;
    left: 55px;
    max-width: 56px;
    max-height: 59px;
  }
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award .home_popup_content_lower_rightcont_lower_award_title {
  max-width: 152px;
  color: rgba(0, 2, 12, 0.8980392157);
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 16px;
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award .home_popup_content_lower_rightcont_lower_award_title {
    height: fit-content;
    margin-top: 4px;
    max-width: 108px;
    font-size: 10px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award .home_popup_content_lower_rightcont_lower_award_title {
    max-width: 151px;
    margin-left: 111px;
    font-size: 9px;
  }
}
.home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award .home_popup_content_lower_rightcont_lower_award_text {
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 10px;
  color: rgba(0, 2, 12, 0.8);
}
@media (max-width: 751px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award .home_popup_content_lower_rightcont_lower_award_text {
    height: fit-content;
    margin-top: 5px;
    font-size: 8px;
  }
}
@media (max-width: 376px) {
  .home_popup_content .home_popup_content_lower .home_popup_content_lower_rightcont .home_popup_content_lower_rightcont_lower .home_popup_content_lower_rightcont_lower_award .home_popup_content_lower_rightcont_lower_award_text {
    margin-left: 111px;
    font-size: 7px;
  }
}

.home_popup_overlay.active .home_popup_content {
  opacity: 1;
  transform: translate(50%, -50%) scale(1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  max-width: 900px;
  width: 100%;
  height: 532px;
  border-radius: 20px;
  background: #1C1E25;
  margin-bottom: 125px;
  transform: translateY(20px);
  padding: 30px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (max-width: 751px) {
  .modal {
    max-width: 704px;
    padding: 23px;
    height: 415px;
    margin-bottom: 11px;
  }
}
@media (max-width: 376px) {
  .modal {
    max-width: 373px;
    padding: 0;
    padding-bottom: 18px;
    height: 260px;
    margin-bottom: 11px;
  }
}
.modal-overlay.active .modal {
  transform: translateY(0);
}

.modal-video {
  width: 100%;
  height: 394px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.modal-video video {
  width: 100%;
}
@media (max-width: 751px) {
  .modal-video {
    height: 308px;
  }
}
@media (max-width: 376px) {
  .modal-video {
    height: 200px;
  }
}

.modal-form {
  margin-top: 29px;
  align-self: center;
  max-width: 553px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 751px) {
  .modal-form {
    margin-top: 22px;
    max-width: 432px;
    height: 39px;
    gap: 6px;
  }
}
@media (max-width: 376px) {
  .modal-form {
    margin-top: 10px;
    max-width: 346px;
    height: 32px;
    gap: 8px;
  }
}

.form-input.error {
  color: #ff0000;
  border-color: #ff0000;
}

.form-input.error::placeholder {
  color: #ff0000;
  opacity: 0.8;
}

.form-input {
  transition: all 0.3s ease;
}

.form-input {
  flex: 1;
  padding: 16px 24px 16px 24px;
  max-width: 360px;
  background: rgba(248, 250, 255, 0.1490196078);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  height: 100%;
  color: rgba(248, 250, 255, 0.8);
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
}
@media (max-width: 751px) {
  .form-input {
    font-size: 12px;
  }
}
@media (max-width: 376px) {
  .form-input {
    font-size: 10px;
  }
}
@media (max-width: 751px) {
  .form-input {
    padding: 16px;
    max-width: 281px;
  }
}
@media (max-width: 376px) {
  .form-input {
    max-width: 224px;
  }
}
.form-input::placeholder {
  color: rgba(248, 250, 255, 0.8);
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-size: 16px;
}
@media (max-width: 751px) {
  .form-input::placeholder {
    font-size: 12px;
  }
}
@media (max-width: 376px) {
  .form-input::placeholder {
    font-size: 10px;
  }
}
.form-input:focus {
  outline: none;
  border-color: #007bff;
}
.form-input::placeholder {
  color: #6c757d;
}

.form-button {
  padding: 11px 16px 11px 16px;
  color: white;
  border: 2px solid #0F5EF7;
  border-radius: 60px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "IBMPlexMono", "SF Mono", "Cascadia Code", "Fira Code", "Consolas", "Monaco", "Courier New", monospace;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 751px) {
  .form-button {
    max-width: 144px;
    font-size: 12px;
  }
}
@media (max-width: 376px) {
  .form-button {
    max-width: 115px;
    font-size: 10px;
  }
}
.form-button:hover {
  background: #0056b3;
}
.form-button:active {
  transform: translateY(1px);
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/Founders-Grotesk-X-Condensed-Bold.eot");
  src: url("../fonts/Founders-Grotesk-X-Condensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Founders-Grotesk-X-Condensed-Bold.woff2") format("woff2"), url("../fonts/Founders-Grotesk-X-Condensed-Bold.woff") format("woff"), url("../fonts/Founders-Grotesk-X-Condensed-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-Medium.eot");
  src: url("../fonts/IBMPlexMono-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-Medium.woff2") format("woff2"), url("../fonts/IBMPlexMono-Medium.woff") format("woff"), url("../fonts/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-SemiBold.eot");
  src: url("../fonts/IBMPlexMono-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexMono-SemiBold.woff") format("woff"), url("../fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-SemiBold.eot");
  src: url("../fonts/IBMPlexMono-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexMono-SemiBold.woff") format("woff"), url("../fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-Regular.eot");
  src: url("../fonts/IBMPlexMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-Regular.woff2") format("woff2"), url("../fonts/IBMPlexMono-Regular.woff") format("woff"), url("../fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono-Light.eot");
  src: url("../fonts/IBMPlexMono-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexMono-Light.woff2") format("woff2"), url("../fonts/IBMPlexMono-Light.woff") format("woff"), url("../fonts/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 2, 12);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity ease 0.3s;
}
a:hover {
  opacity: 0.7;
}

ul, ol {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  color: #F8FAFF;
  outline: none;
  cursor: pointer;
  transition: opacity ease 0.3s;
}
button:hover {
  opacity: 0.7;
}
button:focus {
  outline: none;
  box-shadow: none;
}
button:active {
  outline: none;
  box-shadow: none;
  opacity: 0.7;
}
button:focus-visible {
  outline: none;
  box-shadow: none;
}

h1 {
  font-family: "Founders Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 88px;
  line-height: 85%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

h2 {
  font-family: "Founders Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 0.85;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

h3 {
  font-family: "Founders Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
}

.home_main {
  margin-top: 163px;
  margin-bottom: 90px;
}
@media (max-width: 751px) {
  .home_main {
    margin-top: 87px;
  }
}
@media (max-width: 376px) {
  .home_main {
    margin-top: 73px;
  }
}

/*# sourceMappingURL=index.css.map */
