.case_c2{
  @include home_gear();

  .case_c2_container{

    .upper_wrapper{
      display: flex;
      max-width: calc(100% / 1.459);
      margin: 0 auto;
      position: relative;

      .main_label{
        position: absolute;
        right: 50%;
        transform: translateX(50%) translateY(-50%);
        height: 40px;
        padding: 7px 22px 7px 22px;
        border: 1px solid #F8FAFF;
        display: flex;
        justify-content: center;
        align-items: center;
        @include body-medium-font();
        font-size: 20px;
        color: #F8FAFF;
        background: getColor("background-black", 100);
        border-radius: 10px;
        z-index: 3;

        @media(max-width: $tablet-width){
          height: 23px;
          padding: 4px 12px 4px 12px;
          font-size: 12px;
        }

        @media(max-width: $mobile-width){
          height: 12px;
          padding: 2px 6px 2px 6px;
          font-size: 9px;
        }
      }


      .dashed_horizontal_first{
        flex: 1;
        width: 50%;
        height: 124px;
        border: 1px dashed #F8FAFF;
        border-bottom: none;

        @media(max-width: $tablet-width){
          height: 71px;
        }

        @media(max-width: $mobile-width){
          height: 38px;
        }
      }

      .dashed_horizontal_second{
        flex: 1;
        width: 50%;
        height: 124px;
        border: 1px dashed #F8FAFF;
        border-bottom: none;

        @media(max-width: $tablet-width){
          height: 71px;
        }

        @media(max-width: $mobile-width){
          height: 38px;
        }
      }
    }

    .labels_container{
      display: flex;
      gap: 34px;
      margin-top: 16px;

      @media(max-width: $tablet-width){
        gap: 20px;
      }

      @media(max-width: $mobile-width){
        gap: 10px;
      }

      .label_wrapper {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.6s ease, transform 0.6s ease;
      }

      .label_wrapper-visible {
        opacity: 1;
        transform: translateY(0);
      }

      .label_wrapper-hidden {
        opacity: 0;
        transform: translateY(30px);
      }

      .label_wrapper{
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1;
        transition: opacity 0.6s ease, transform 0.6s ease;


        @media(max-width: $tablet-width){
          gap: 9px;
        }

        @media(max-width: $mobile-width){
          gap: 5px;
        }

        div{
          height: 40px;
          width: 100%;
          padding: 7px 22px 7px 22px;
          background: #7AFFF6E5;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include body-medium-font();
          font-size: 20px;
          color: #1C1E25;

          &.second{
            background: #A980FF;
            color: #1C1E25;
          }

          @media(max-width: $tablet-width){
            height: 23px;
            padding: 4px 12px 4px 12px;
            font-size: 12px;
          }

          @media(max-width: $mobile-width){
            height: 12px;
            padding: 2px 6px 2px 6px;
            font-size: 9px;
          }
        }

        span{
          margin: 0 auto;
          @include body-large-font();
          font-size: 20px;
          color: #F8FAFF;
          text-transform: none;

          @media(max-width: $tablet-width){
            font-size: 12px;
          }

          @media(max-width: $mobile-width){
            font-size: 6px;
          }
        }
      }
    }
  }

  .lower_container{
    margin-top: 200px;
    overflow: scroll;
    display: flex;
    gap: 70px;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media(max-width: $tablet-width){
      margin-top: 120px;
      gap: 60px;
    }

    @media(max-width: $mobile-width){
      margin-top: 72px;
      gap: 16px;
    }


    .lower_item{
      display: flex;
      flex-direction: column;
      gap: 36px;
      min-width: 236px;
      padding-top: 20px;

      @media(max-width: $tablet-width){
        min-width: 236px;
      }

      img{
        width: 80px;
        height: 80px;

        animation: multiColorFlow 8s ease-in-out infinite, changeScale 8s ease-in-out infinite;
        @keyframes multiColorFlow {
          0% {
            filter: hue-rotate(0deg) saturate(1.2);
          }
          25% {
            filter: hue-rotate(90deg) saturate(1.3);
          }
          50% {
            filter: hue-rotate(180deg) saturate(1.1);
          }
          75% {
            filter: hue-rotate(270deg) saturate(1.4);
          }
          100% {
            filter: hue-rotate(360deg) saturate(1.2);
          }
        }

        @media(max-width: $tablet-width){
          width: 60px;
          height: 60px;
        }
      }

      .item_label{
        @include body-medium-font();
        font-size: 16px;
        color: #F8FAFF;
      }

      .item_desc{
        @include caption-small-font();
        font-size: 16px;
        color: #F8FAFFCC;

        @media(max-width: $tablet-width){
          font-size: 12px;
        }
      }
    }
  }

  .review_wrapper{
    max-width: min(605px, calc(100% - 40px));
    padding: 16px;
    border: 1px solid #7AFFF6;
    background: #1C1E25;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 36px;
    border-radius: 20px;
    margin: 120px auto 0 auto;

    &.second{
      border: 1px solid #A980FF;
    }
    

    .review_text{
      @include body-small-font();
      font-size: 20px;
      color: #F8FAFF;
      
      @media(max-width: $tablet-width){
        font-size: 16px;
      }
    }

    .reviewer_wrapper{
      display: flex;
      gap: 16px;
      align-items: center;

      img{
        width: 80px;
        height: 80px;
      }

      div{
        display: flex;
        flex-direction: column;
        gap: 4px;

        .reviewer_name{
          @include caption-small-font();
          font-size: 20px;
          color: #F8FAFFCC;
        }

        .reviewer_add{
          @include body-large-font();
          font-size: 20px;
          color: #F8FAFF;
        }
      }
    }
  }
}