.case_represent{
  @include home_gear();
  margin-top: 47px;

  @media(max-width: $tablet-width){
    margin-top: 30px;
  }

  @media(max-width: $mobile-width){
    margin-top: 16px;
  }

  .case_represent_container{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 530px;

    &.second{
      min-height: 660px;

      @media(max-width: $tablet-width){
        min-height: 417px;
      }
    }

    @media(max-width: $tablet-width){
      min-height: 300px;
    }

    @media(max-width: $mobile-width){
      flex-direction: column;
      justify-content: initial;
      min-height: 300px;
      gap: 36px;
    }


    .case_logo{
      position: absolute;
      left: 0;
      top: 0;

      @media(max-width: $tablet-width){
        width: 121px;
        height: 37px;
        top: 25px;
      }

      @media(max-width: 450px){
        width: 100px;
      }

      @media(max-width: $mobile-width){
        position: initial;
        display: flex;
        width: 121px;
      }
    }

    .case_represent_back{
      position: absolute;
      left: 50%;
      z-index: -2;
      max-width: calc(100% / 1.5);
      transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      transform: translateZ(0);
      will-change: transform;

      &.second{
        bottom: 0;
        right: 0;
        max-width: 47%;

        @media(max-width: $tablet-width){
          top: auto;
          bottom: 0;
          right: 0;
        }

        @media (prefers-reduced-motion: no-preference) {
          &.parallax {
            transform: translateY(var(--parallax-offset, 0px)) translateZ(0);
          }
        }
      }

      @media (prefers-reduced-motion: no-preference) {
        &.parallax {
          transform: translateX(-50%) translateY(var(--parallax-offset, 0px)) translateZ(0);
        }
      }

      @media(max-width: $tablet-width){
        top: -25px;
        max-width: calc(100% / 1.32);
      }

      @media(max-width: $mobile-width){
        max-width: 100%;
        top: auto;
        left: 0;
        transform: none;
        bottom: 0;
      }
    }

    .label_wrapper{
      display: flex;
      flex-direction: column;
      gap: 36px;
      max-width: 55%;
      margin-left: 50px;

      &.second{
        margin-left: 150px;
        max-width: 66%
      }

      @media(max-width: $tablet-width){
        max-width: 60%;
        margin-top: 25px;
      }

      @media(max-width: 600px){
        margin-left: 100px;
      }

      @media(max-width: $mobile-width){
        margin-left: 0;
        max-width: 100%;
        gap: 24px;
      }
    }

    h1{
      width: 644px;
      max-width: 100%;
      color: #F8FAFF;

      &.second{
        width: 804px;
      }

      @media(max-width: $tablet-width){
        width: 451px;
        font-size: 55px;
      }

      @media(max-width: $mobile-width){
        width: 100%;
        font-size: 46px;
      }
    }

    span{
      width: 605px;
      max-width: 100%;
      color: #F8FAFF;
      text-align: start;
      @include body-small-font();
      font-size: 20px;

      @media(max-width: $tablet-width){
        font-size: 12px;
        width: 399px;
      }

      @media(max-width: $mobile-width){
        width: 100%;
      }
    }
  }

  .lower_container{
    width: 100%;
    margin-top: 200px;

    @media(max-width: $tablet-width){
      margin-top: 50px;
    }

    @media(max-width: $mobile-width){
      margin-top: 72px;
    }

    ul{
      display: flex;
      flex-direction: column;
      gap: 120px;

      @media(max-width: $tablet-width){
        gap: 36px;
      }

      li{
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media(max-width: $mobile-width){
          flex-direction: column;
          justify-content: initial;
          gap: 16px;

          &:nth-child(2) {
            flex-direction: column-reverse;
          }
        }

        h2{
          color: #F8FAFF;

          @media(max-width: $tablet-width){
            font-size: 36px;
          }
        }

        span{
          @include body-small-font();
          font-size: 20px;
          color: #F8FAFF;
          max-width: 726px;

          @media(max-width: $tablet-width){
            font-size: 12px;
            max-width: 350px;
          }

          @media(max-width: $mobile-width){
            max-width: 100%;
          }
        }
      }
    }
  }
}