.partner_platform_c6{
  @include home_gear();
  display: flex;
  flex-direction: column;

  .pp_c6_cont{
    position: relative;
    background: #F8FAFF;
    border-radius: 20px;
  }

  img{
    min-height: 744px;
    width: 100%;
    
    @media(max-width: 800px){
      min-height: 430px;
    }

    @media(max-width: 520px){
      display: none;
    }
  }

  .form_container{
    width: 50%;
    height: 100%;
    background: #1C1E25;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 30px;
    display: flex;
    flex-direction: column;



    @media(max-width: 800px){
      padding: 17px;
    }

    @media(max-width: 520px){
      width: 100%;
      height: 430px;
      position: initial;
    }

    .funds{
      margin-top: 36px;
      border: 1px solid #F8FAFF80;
      border-radius: 10px;
      padding: 16px;
      height: 54px;
      width: 420px;
      max-width: 100%;
      @include body-small-font();
      color: #F8FAFF;
      display: flex;
      gap: 10px;
      align-items: center;

      @media(max-width: 800px){
        margin-top: 20px;
        height: 31px;
        width: 280px;
        font-size: 12px;
      }

      span{
        font-size: 20px;

        @media(max-width: 800px){
          font-size: 12px;
        }
      }



      input{
        max-width: 20px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #F8FAFF;
        @include body-small-font();
        font-size: 16px;
        color: #F8FAFF;

        &:focus{
          outline: none;
        }
      }
    }

    h2{
      max-width: 433px;
      color: #F8FAFF;
      margin-top: 46px;

      @media(max-width: 800px){
        margin-top: 44px;
        font-size: 28px;
      }
    }

    .form_item{
      margin-top: 36px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      @media(max-width: 800px){
        margin-top: 20px;
        gap: 9px;
      }

      span{
        @include body-small-font();
        font-size: 20px;
        color: #F8FAFF;

        @media(max-width: 800px){
          font-size: 12px;
        }
      }

      input{
        height: 22px;
        @include caption-small-font();
        background: transparent;
        font-size: 16px;
        border: none;
        color: #F8FAFF;
        border-bottom: 1px solid #F8FAFF80;

        @media(max-width: 800px){
          height: 13px;
          font-size: 9px;
        }

        &:focus{
          outline: none;
        }
      }
    }

    .form_input_container{
      display: flex;
      margin-top: auto;
      justify-content: space-between;
      max-width: 100%;
      gap: 10px;

      div{
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1;

        @media(max-width: 800px){
          gap: 9px;
        }

        span{
          @include body-small-font();
          font-size: 20px;
          color: #F8FAFF;

          @media(max-width: 800px){
            font-size: 12px;
          }
        }

        input{
          height: 22px;
          max-width: 319px;
          background: transparent;
          border: none;
          border-bottom: 1px solid #F8FAFF80;
          @include caption-small-font();
          color: #F8FAFF;
          font-size: 16px;

          @media(max-width: 800px){
            max-width: 184px;
            font-size: 9px;
          }

          &::placeholder{
            color: #F8FAFF59;
            @include caption-small-font();
            font-size: 16px;


            @media(max-width: 800px){
              font-size: 9px;
            }
          }
        }
      }


      button{
        max-width: 210px;
        height: 50px;
        border-radius: 60px;
        padding: 11px 16px 11px 16px;
        border: 2px solid #0F5EF7;
        display: flex;
        @include body-medium-font();
        font-size: 16px;
        justify-content: center;
        align-items: center;
        margin-top: auto;

        @media(max-width: 800px){
          max-width: 121px;
          height: 28px;
          font-size: 10px;
        }
      }
    }
  }


  h3{
    margin-top: 200px;
    font-size: 88px;
    color: #F8FAFF;

    @media(max-width: $tablet-width){
      margin-top: 120px;
      font-size: 50px;
    }

    @media(max-width: $mobile-width){
      margin-top: 72px;
      font-size: 48px;
    }
  }
}