.partner_platform_list{
  @include home_gear();
  display: flex;
  flex-direction: column;

  h2{
    max-width: 607px;
    color: #F8FAFF;

    @media(max-width: $tablet-width){
      max-width: 384px;
      font-size: 36px;
    }

    @media(max-width: $mobile-width){
      max-width: 244px;
    }
  }

  .home_gear1_wrapper{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media(max-width: $tablet-width){
      margin-top: 50px;
      gap: 36px;
    }

    @media(max-width: $mobile-width){
      margin-top: 36px;
      gap: 24px;
    }

    .home_gear1_info_container{
      display: flex;
      justify-content: space-between;
      position: relative;

      @media(max-width: $mobile-width){
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
      }

      .home_gear1_info_label{
        @include body-large-font();
        color: #F8FAFF;
        cursor: default;
        height: fit-content;
        min-width: 50%;
        align-self: flex-start;
        transition: all ease 0.3s;

        &:hover {
          color: #7AFFF6 !important;
        }

        @media(max-width: $tablet-width){
          font-size: 20px;
          top: 80px;
        }

        @media(max-width: 420px){
          font-size: 17px;
        }

        @media(max-width: $mobile-width){
          font-size: 16px;
          position: relative;
          color: #7AFFF6;
          top: 0;
        }
      }

      .home_gear1_info_text_container{
        max-width: 651px;
        display: flex;
        flex-direction: column;
        gap: 36px;

        @media(max-width: $tablet-width){
          max-width: 376px;
          gap: 20px;
        }

        @media(max-width: $mobile-width){
          max-width: 335px;
          gap: 16px;
        }

        h2{
          color: #F8FAFFE5;

          @media(max-width: $tablet-width){
            font-size: 30px;
          }
        }

        .home_gear1_info_text_container_text{
          @include body-small-font();
          color: #F8FAFFE5;

          @media(max-width: $tablet-width){
            font-size: 12px;
          }

          .home_gear1_info_text_container_text_colored{
            color: #7AFFF6;
          }
        }
      }
    }
  }
}